@import "../variables.scss";

.root {}

.ContainerLiveAuctions {
    display: flex;
    gap: 24px;
}


.TitleAction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
    align-items: center;
}

.Title {
    color: var(--gray-100);
    font-size: 48px;
}