@import "../variables.scss";

.root {}

.ParagraphSemibold {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    color: #ADB9C7;
    text-decoration-line: none;
}

.ParagraphSemibold:active {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    color: #ffffff;
    border-bottom: 2px solid #1E50FF;

}