@import "../variables.scss";

.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin-right: 121px;
    margin-bottom: 0px;
    margin-left: 121px;
}

.TabsContainer {
    display: flex;
    column-gap: 32px;
    margin: 0px;
    padding: 0px;
}