.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.TabsContainer {
    display: flex;
    column-gap: 32px;
    margin: 0px;
    padding: 0px;
}