@import "../variables.scss";

.root {
    display: flex;
    align-items: center;
    justify-content: start;
}

.ProfilePic {
    width: 56px;
    height: 56px;
    border-radius: 16px;
    margin-right: 16px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.Creator {
    font-size: 16px;
    color: #8F9CA9;
    margin: 0px;
    padding: 0px;
}

.CreatorName {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 28px;
}

.CreatorContainer {
    padding: 0px;
    margin: 0px 77px 0px 0px;
}

.Current {
    color: #ADB9C7;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

.eth {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    line-height: 30px;
    color: #FFFFFF;
}

.BidContainer {
    flex-direction: row;
}